package output

import (
	"gocli/service"
	"gocli/usecase"
)

func SwitchCommand(cmd string, args []string) error {

	var err error
	gocliService := service.NewGocmdService()
	gocliUsecase := usecase.NewGocmdUsecase(gocliService)
    switch cmd {
    {{- range .Commands }}
    case "{{ . }}":
        err = gocliUsecase.{{ title . }}(args)
    {{- end }}
    default:
		err = gocliUsecase.RunDefault()
	}
	return err
}
